.vending-machine-container{
  width:65%;
  height: 100vh;
  background-color: cornflowerblue;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.item-box {
  width: 33.333333%;
  height: 33.333333%;
  border-bottom: 3px solid #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
    .item-box:hover {
      background-color: lightslategrey;
    }
